force-app/main/default/flows/Flow_On_request_Access_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Record_check</name>
        <label>Record check</label>
        <locationX>679</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checks_the_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Changed_Permission_Set_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_permission_set_record</targetReference>
            </connector>
            <label>checks the record</label>
        </rules>
    </decisions>
    <formulas>
        <name>Request_access_Record</name>
        <dataType>String</dataType>
        <expression>{!$Record.CreatedById}</expression>
    </formulas>
    <formulas>
        <name>True</name>
        <dataType>String</dataType>
        <expression>{!Request_access_Record}</expression>
    </formulas>
    <interviewLabel>Flow On request Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow On request Access 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Changed_Permission_Set_record</name>
        <label>Changed Permission Set record</label>
        <locationX>993</locationX>
        <locationY>108</locationY>
        <connector>
            <targetReference>Delete_supervisor_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS0T000000EXmIWAW</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Admin_Queue</name>
        <label>Create Admin Queue</label>
        <locationX>1005</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Assign_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <stringValue>00G0T000001djaO</stringValue>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_permission_set_record</name>
        <label>Delete permission set record</label>
        <locationX>836</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Changed_Permission_Set_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXmDWAW</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_supervisor_Queue</name>
        <label>Delete supervisor Queue</label>
        <locationX>1003</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Create_Admin_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G0T000001djaJ</stringValue>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>permission_set_assignment_Record</name>
        <label>permission set assignment Record</label>
        <locationX>535</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXmDWAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Role</name>
        <label>Assign Role</label>
        <locationX>764</locationX>
        <locationY>480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E0T000000LWEp</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>permission_set_assignment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Request_Access__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
