force-app/main/default/flows/Flow_on_Request_Access_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Complete_record</name>
        <label>Complete record</label>
        <locationX>636</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>$Record.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_record</name>
        <label>Error record</label>
        <locationX>829</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>$Record.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errored</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Updates_Record</name>
        <label>Updates Record</label>
        <locationX>778</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E0T000000LWFEUA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_record</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Errored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E0T000000LWFJUA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_record</targetReference>
            </connector>
            <label>Errored</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Decision</name>
        <label>User Decision</label>
        <locationX>189</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_user_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E0T000000LWFJUA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_set</targetReference>
            </connector>
            <label>New user id</label>
        </rules>
    </decisions>
    <interviewLabel>Flow on Request Access - 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow on Request Access - 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_set</name>
        <label>Create Permission set</label>
        <locationX>509</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>update_user_object</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS0T000000EXm3WAG</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Permission_set</name>
        <label>Delete Permission set</label>
        <locationX>366</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Create_Permission_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXlyWAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordUpdates>
        <name>update_user_object</name>
        <label>update user object</label>
        <locationX>649</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>Updates_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E0T000000LWFEUA4</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Request_Access__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>record_change</name>
            <connector>
                <targetReference>User_Decision</targetReference>
            </connector>
            <label>record change</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Error</name>
            <label>Error</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
