force-app/main/default/flows/Req_Access_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Update_Record_Status</name>
        <label>Update Record Status</label>
        <locationX>483</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E0T000000LWFEUA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Req_Status_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Errored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E0T000000LWFJUA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Req_Status_Error</targetReference>
            </connector>
            <label>Errored</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Decision</name>
        <label>User Decision</label>
        <locationX>166</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Decision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E0T000000LWFJUA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_set1</targetReference>
            </connector>
            <label>User Decision1</label>
        </rules>
    </decisions>
    <interviewLabel>Req Access 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Req Access 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_set1</name>
        <label>Create Permission set1</label>
        <locationX>525</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>update_user_object1</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS0T000000EXm3WAG</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Permission_set1</name>
        <label>Delete Permission set1</label>
        <locationX>380</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Create_Permission_set1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXlyWAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordUpdates>
        <name>Req_Status_Completed</name>
        <label>Req Status Completed</label>
        <locationX>667</locationX>
        <locationY>31</locationY>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Req_Status_Error</name>
        <label>Req Status Error</label>
        <locationX>682</locationX>
        <locationY>211</locationY>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Errored</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_user_object1</name>
        <label>update user object1</label>
        <locationX>684</locationX>
        <locationY>363</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E0T000000LWFEUA4</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>31</locationX>
        <locationY>39</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Request_Access__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>record_change</name>
            <connector>
                <targetReference>User_Decision</targetReference>
            </connector>
            <label>record change</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Updated_Record_Status</name>
            <connector>
                <targetReference>Update_Record_Status</targetReference>
            </connector>
            <label>Updated Record Status</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
