force-app/main/default/flows/Request_Access_Flow_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Permission_set_records</name>
        <label>Permission set records</label>
        <locationX>581</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>Get_Permission_Set_Assignment_Records.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>permissionsetrecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Permission_Set_Assignment_Records.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>permissionsetrecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_check</name>
        <label>Record check</label>
        <locationX>727</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>permissionsetrecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_permission_set_record</targetReference>
            </connector>
            <label>Check Records</label>
        </rules>
    </decisions>
    <interviewLabel>Request Access Flow 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Access Flow 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Permission_set_Assignment</name>
        <label>Create New Permission set Assignment</label>
        <locationX>735</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>Update_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS0T000000EXmDWAW</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_permission_set_record</name>
        <label>Delete permission set record</label>
        <locationX>735</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Create_New_Permission_set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXm3WAG</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Permission_Set_Assignment_Records</name>
        <label>Get Permission Set Assignment Records</label>
        <locationX>432</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_set_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXm3WAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Role</name>
        <label>Assign Role</label>
        <locationX>312</locationX>
        <locationY>392</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E0T000000LWF9</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue</name>
        <label>Update Queue</label>
        <locationX>514</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Assign_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>00G0T000001djaJ</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Assignment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Request_Access__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>permissionsetrecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_New_Permission_set_Assignment</elementReference>
        </value>
    </variables>
</Flow>
