force-app/main/default/flows/Request_Access_Flow2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Request Access Flow-2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Access Flow2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_sets</name>
        <label>Create Permission sets</label>
        <locationX>367</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Create_Queue_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS0T000000EXmDWAW</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Queue_Records</name>
        <label>Create Queue Records</label>
        <locationX>535</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Assign_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <stringValue>00G0T000001djaJUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_permission_sets</name>
        <label>Delete permission sets</label>
        <locationX>182</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Create_Permission_sets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0T000000EXm3WAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordUpdates>
        <name>Assign_Role</name>
        <label>Assign Role</label>
        <locationX>697</locationX>
        <locationY>359</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E0T000000LWF9UAO</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Delete_permission_sets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Request_Access__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
